[2016-07-20 11:02] gwaygenomics opened #1 "Status Chooser - Options"
There was a lot of discussion last night about different screens a user will interact with (See cognoma/django-cognoma#13). One component of the screens we call `Status Chooser`. We can think of this option really as `Mutation Status Chooser` for the biologists, or the `Y` matrix for the machine learning enthusiasts. See cognoma/django-cognoma#3 for some additional comments.

Essentially, the user

[2016-07-20 12:50] gwaygenomics opened #2 "Learning Resources for the Uninitiated - Frontend"
I thought it would be good to post some resources (similar to cognoma/cognoma#15 and cognoma/machine-learning#7) to become acquainted with some of the Frontend lingo and tech.
## Angular

@mhuyck has already suggested this [tutorial](https://docs.angularjs.org/tutorial)

Since I am new to all things front end too, I have been looking at this [online mini-course](https://www.codeschool.com/courses/

[2016-07-20 12:59] gwaygenomics opened #3 "Tech Decisions - Angular 1 vs. 2 and more"
## Angular

I know nothing of the merits of [Angular 1 vs. 2](https://dzone.com/articles/typed-front-end-with-angular-2) but it was something we talked about at the meetup. I am not sure if we settled.
### What language to use with Angular?

I'm no  expert (about 12 minutes of angular intro!) but we need to discuss JavaScript vs. [TypeScript](http://victorsavkin.com/post/123555572351/writing-angul

[2016-07-20 15:33] awm33 commented on #1
@gwaygenomics For the gene list, I think I remember you mentioning some genes were ambiguous using the more generic notation and that we need to assist the user resolve the genes to a coding system?

[2016-07-20 15:34] awm33 commented on #3
I only have experience with Angular 1.x. I've used it with both javascript and coffeescript.

[2016-07-20 15:44] gwaygenomics commented on #1
@awm33 Great point. Yes, there are some ambiguous genes. It may also be nice to have an auto-complete option for the **Text** option listed above.

Generally, I've found that cancer biologists (and biologists in general) prefer [HUGO symbols](http://www.genenames.org/about/faq/#whatisthehgnc "about HUGO") but computational biologists prefer [Entrez symbols](http://nar.oxfordjournals.org/content/39

[2016-07-20 16:08] BobMiller opened #4 "JavaScript/Web Designers"
Just to let you know, the Philly JavaScript meetup is scheduled for next Wed (July 27th) at 6:00PM. The location is

Quorum at the Science Center
3711 Market Street, Floor 8
Philadelphia, PA 19104

I have put in a formal request to do a lightning talk (about 5 minutes) on Project Cognoma. Hopefully a few members of the group will volunteer to join our front end group. If anyone else wants to join

[2016-07-20 16:20] gwaygenomics commented on #4
@BobMiller That sounds great! @cgreene is out of town July 27th but I am willing to help represent cognoma. Karin also sent an email out to them asking for volunteers - so we do have some feelers out already.

Please keep us updated!

[2016-07-20 23:19] awm33 commented on #1
There's discussion of the core data model https://github.com/cognoma/django-cognoma/issues/2 The gene table should probably have a column for each codeing system, eg hugo_symbol, entrez_id, ensemble_id. You may also want to pick a standard for the app.

[2016-07-20 23:34] awm33 commented on #3
Talked to one of the frontend devs at work. He evaluated Angular 2 a couple different times as it's evolved. "Angular 2 is basically React. There’s still no release candidate though. It’s still in alpha. It doesn’t make sense to use a pre-release framework for an app that they intend to roll out to people. It also looks more difficult."

[2016-07-21 01:07] cgreene commented on #1
In other applications (handled via django-genes) we have a xrid model that attaches these cross references to a cross reference database (xrdb). This can be dumped into a document that can be searched with elastic search. It tends to give pretty good results for getting biologists from any number of potential gene identifiers that they may have to the things they actually want.

[2016-07-21 10:58] cgreene commented on #3
@awm33 : was his argument pro-React or anti-Angular2? I'm trying to figure out the implications for React vs Angular 1.X

[2016-07-22 00:30] awm33 commented on #3
@cgreene Anti-Angular 2, as in Angular 2 is like React, but React is released and used in production.

React vs Angular 1.x may be a matter of preference. Both are widely used and will be for the foreseeable future.

There's also JavaScript vs CoffeeScript vs {xyz language that compiles to JS}. I personally think plain old JavaScript is easier to manage and allows the most number of people to work

[2016-07-22 13:21] gwaygenomics commented on #3
sounds good @awm33, thanks for the input!

I am thinking that sticking with Angular 1.x was the preference at the meetup this week. Let's stick with that then.

[2016-07-22 14:39] mhuyck commented on #3
All of this jibes 100% with what I read when assessing Angular 2 vs 1.x for our projects and with the session at Djangocon on using React with Django. I had a nice chat with the speaker from that talk on the way over to dinner that night and his description of learning React coming from a jQuery background was *very* familiar to me having made a similar transition to Angular.

It appears from ever

[2016-07-26 23:04] BobMiller opened #5 "List ml Algorithm parameters on user results"
It was brought up in the general meeting that we need to list algorithm parameters with results reported to user.

[2016-07-26 23:41] ypar commented on #5
either a python script or an ipython notebook including parameters?

[2016-07-27 02:59] Suberri commented on #3
Python/Django, Angular, React, Ember are all web pages authoring frameworks.
I may be wrong, but it seems to me that someone decided that the project will use Python/Django.

So why there are discussion about React and Angular?

What am I missing?

[2016-07-27 03:05] awm33 commented on #3
@Suberri We are using Python and Django, but we are using the Django REST framework http://www.django-rest-framework.org/ in the backend to create a RESTful API. The frontend is served separately and interacts with the backend via REST API.

[2016-07-27 03:34] Suberri commented on #3
OK.
So in this case, did anyone consider Ember?

On Tue, Jul 26, 2016 at 11:05 PM, Andrew Madonna <notifications@github.com>
wrote:

--
*Moshe*
*Suberri@gmail.com <Suberri@gmail.com>*
*484-695-7189*

[2016-07-27 03:53] BobMiller opened #6 "Feature idea - Previous Similar Query Finder"
During the meeting between the Backend and Frontend groups, Joel had a good idea for a feature.

Once a user selects genes and samples of interest, our software could let the user know if a similar query has previously been run. The user could then see which ML algorithms other users selected for this data set, and the results they got. The user could then decide to use the results already obtaine

[2016-07-27 16:02] cgreene commented on #3
Looks like a common comparison across the internet:
https://www.google.com/search?q=ember+vs+angular+vs+react

I think the discussion has largely centered around where contributors to the front end have experience, a strong desire to contribute, and the opportunity to put in time.

[2016-08-06 21:17] awm33 opened #7 "Design"
I think it's easier to discuss frontend design using real drawings / wireframes.

Here's my first crack at it. I am not a designer haha.

The styles are based on bootstrap.

![cognoma desktop hd](https://cloud.githubusercontent.com/assets/3846080/17459068/d9afe19e-5bf8-11e6-9a12-277fed58c207.png)

The tabbed Genes input section is incomplete. But that would contain text, file upload, and "Assisted

[2016-08-06 21:19] awm33 commented on #7
@gwaygenomics and @BobMiller may be interested

[2016-08-07 13:51] gwaygenomics commented on #7
@awm33 - This is a great start. The simplistic design is exactly what I had in mind. There are some differences that I think should be clarified (e.g. Users should start with `genes`) I'd love to take a crack at the Sketch app source code- can you pass it along to me? Thanks!

[2016-08-07 23:44] awm33 commented on #7
@gwaygenomics Would it make more sense for tissue input to be its own optional step? So:
1) Input Genes
2) Select Tissues (Optional)
3) Choose Algorithm
4) Submit

For tissues, I think you said given a list of genes, only certain tissues would be applicable. How would we determine this? A lookup table with an entry for each gene/tissue combo? Would the user still be able to select tissues that we

[2016-08-08 01:48] gwaygenomics commented on #7
There are several gene expression based signatures in cancer that are caused by mutations in different genes and pathways (groups of genes involved in a single process). Many of these signals (like `TP53` mutational signature) are consistent in many different types of cancer. Other signatures are unique to certain cancers, but there are also several that overlap only a select number of tissues - t

[2016-08-09 22:12] BobMiller opened #8 "More Design"
Here are a few more potential screen layouts. The are in HTML, just unzip the files, everything you need to run them is included(hopefully?). Theyn use bootstrap, so you need to view then when you have a web connection.

I was going for function over style, so it pretty rough.

It nowhere near complete, so START BY OPENING THE WELCOME SCREEN, click on anonymous login, and on the main screen, click

[2016-08-23 00:41] keenleo commented on #8
@BobMiller, this looks really good. I went ahead and started work an [angular version](https://github.com/keenleo/frontend/tree/master/app) of this.

The routes and angular/bootstrap dependencies working. There is a rough templating structure, based on angular seed.

The only link in nav that routes to a working page is results>results for current classifier. I am working on adding the content by

[2016-08-23 15:22] BobMiller commented on #8
Thanks Chris for looking at this. I have made some minor changes to the results screen. Mostly minor formatting changes so they look OK in other browsers and screen sizes. Here is the zip of the latest version of the html.

[CognomaMain2.zip](https://github.com/cognoma/frontend/files/432825/CognomaMain2.zip)

Looking forward to speaking with you if you make it tonight.
-Bob Miller

[2016-08-23 18:59] dhimmel commented on #8
Awesome work @BobMiller and @keenleo. It's nice to see a preliminary frontend (and a slick one as well).

@BobMiller in the future, it's critical that we track code using git. I'm going to try to rewrite history, so you get credit for your contributions in the git history. Will keep everyone posted on this thread.

For now, @keenleo and @BobMiller: what name and email do you want to use for your g

[2016-08-25 01:23] keenleo commented on #8
@dhimmel Thanks, I'll take a look at my account. I'd like my commits to show up as from "Chris Fuller"

@BobMiller I tried to make the meet up but it wasn't in the cards.. Ill definitely make the next one. I am going to take a look at your changes and incorporate them into the angular version. I'm also going to work on routes and templates for other parts of app.

[2016-08-25 01:30] dhimmel commented on #8
@keenleo, can you work off of the repository state in #9. Our priority should be getting that merged / making modifications on top of it.

[2016-08-25 01:34] keenleo commented on #8
@dhimmel Wow good timing on your reply! I was just trying to figure out with branch/repository would be best to work off of. Ill work off #9, get the files merged and then make modifications. Thanks again.

[2016-08-25 01:34] awm33 commented on #8
@keenleo Hey Chris, I've worked with angular in production, if you need help setting it up or reviewing code.

[2016-08-25 16:38] laszlokv opened #10 "Potential libraries to use for gene and sample selection"
@BobMiller, you mentioned I should post this as a separate issue.  I had this list of potential libraries to use for gene and sample selection (since each list will be huge):
o   https://jqueryui.com/autocomplete/#default
o   https://harvesthq.github.io/chosen/
o   https://select2.github.io/examples.html
o   https://selectize.github.io/selectize.js/

[2016-08-26 02:19] awm33 commented on #10
Here's an angular "tag" style one

http://mbenford.github.io/ngTagsInput/

[2016-08-28 01:59] keenleo commented on #10
I like the angular directive awm33 proposed. It looks good, we are already using angular and this will not introduce any new dependencies.

[2016-09-06 16:27] dhimmel commented on #8
Okay now that pull request #9 has been merged, the work from this Issue is now in the master branch of this repository. Thanks @keenleo and @BobMiller for getting the frontend off the ground. In the future, the best way to contribute and discuss code is through pull requests.

[2016-09-06 16:27] #8 closed

[2016-09-07 00:03] bdolly opened #11 "Create a separate UX repo. in the project"
At the meetup on Sept. 6 the front-end group decided that it would be beneficial to have a separate User Experience repo. inside the project so that User Experience specific issues can be tracked and evolve separately from the technology stack and development on the frontend

[2016-09-07 02:37] keenleo opened #12 "Discussion between the Data and Front-end teams. 9/6/2016 Meetup Notes."
## Discussion between the Data and Front-end teams. 9/6/2016 Meetup Notes.
### Summary

The data and front-end teams meet and discussed how the a researcher might interact with the application.

We asked our selves the question. As a scientist/researcher how do I select the genes and parameters to be submitted to machine learning?

The data team shared an [example ML that started with a pathway](h

[2016-09-07 12:38] gwaygenomics opened #13 "Visualizing pre-classifier data"
At the meetup last night (9/6) we discussed already existing services that provide a way of visualizing the input data to cognoma. @mike19106 had the idea that we may be able to query into the API of these services and use their visualization of the same data.

The main point is that we should _not_ try to reinvent the wheel visualizing these data since other services already do this very well. I

[2016-09-07 12:47] gwaygenomics commented on #12
excellent recap @keenleo - it sounds like the frontend now has some ammunition to begin making the next steps! Implementing the first use case as a working model is the priority.

To begin discussion of some of your Questions above.

@bdolly submitted issue #11 - we can discuss this there. @dhimmel do you have any thoughts about this?

For this point, do you mean that we store all parameter choice

[2016-09-07 13:10] gwaygenomics commented on #13
also tagging @laszlokv for interest in other visualization services

[2016-09-08 12:47] cgreene commented on #11
@bdolly : Would a 'label' for UX in this repo serve the same purpose? This would allow quick filtering to only these issues. I'm happy to add another repo, but I want to make sure that we keep issues maximally discoverable for the entire cognoma community.

[2016-09-09 14:17] bdolly commented on #11
@cgreene I can see how a 'label' would be valuable in this case. Our thinking was that a separate repo would help UX deliverables (wireframes, storyboards, use cases, etc.) stay separate from the front-end tech stack deliverables (html, css, js). Either way I think would be effective so it's your call on how you want to organize it, main goal is to start a UX track for the project.

[2016-09-12 02:56] keenleo commented on #12
@gwaygenomics

Should we store all of the decision made by the researcher? For instance, a researcher started with a pathway, looked at the mutation heatmap then removed half of the genes. Then looked at a different dimension and removed a further sub set of genes. Do we persist the decisions they made and the dimensions they viewed or just the final set of genes?

[2016-09-12 03:17] keenleo opened #15 "First Use Case"
Starting this issue to discuss the first use case.

I began a [process model](https://github.com/keenleo/frontend/blob/master/UX/use_cases/one/process_models/User Actions Level 1.png) to capture the decisions, inputs and outputs from [Predicting Aberrations in The Hippo Signaling Pathway](https://github.com/cognoma/machine-learning/blob/master/3.TCGA-MLexample_Pathway.ipynb).  This process model c

[2016-09-12 12:37] gwaygenomics commented on #12
I don't think we need to store all of the decisions. I think it is sufficient to store only the final list of genes/tissues.

Although I could eventually see some functionality that allows a researcher to test many hypotheses simultaneously with some sort of queue system. Then we can add a button that "stores" a snapshot of the current data selection that will direct the queue to a separate screen

[2016-09-13 19:00] cgreene commented on #11
Made a UI/UX label for the moment. If it does turn out to become more burdensome this way, we'll make a repo instead! Thanks!

[2016-09-14 16:53] dhimmel commented on #4
Closing since the Philly JavaScript meetup date has passed.

[2016-09-14 16:53] #4 closed

[2016-09-15 15:00] BobMiller commented on #15
Chris, great job on this, and kudos to @gwaygenomics  for giving us such a [good example](https://github.com/cognoma/machine-learning/blob/master/3.TCGA-MLexample_Pathway.ipynb)!

A few comments on how Greg's specific example fits into our current UI model:

Our current model consists of

**Step 1) Gene Selection** (by individual entry, path, text file, or custom query)

**Step 2) Select Tissue**

[2016-09-20 14:05] dhimmel commented on #11
I created [`cognoma/uiux`](https://github.com/cognoma/uiux) and made @bdolly a maintainer.

Let me know if `uiux` is the best name or we should change it.

[2016-09-20 14:05] #11 closed

[2016-09-21 21:31] dhimmel commented on #15
Thanks @BobMiller for jotting all this information down. For the minimum viable product I suggest the following steps:

1. **Mutation selection**: select the genes used for constructing mutation status. A sample is a positive for mutation status if they have a mutation in any of the selected genes. _This corresponds to step 1) Gene Selection above_.

2. **Sample selection**: select which samples t

[2016-09-22 14:19] bdolly commented on #15
@dhimmel when you get a chance can you check out https://github.com/cognoma/uiux/tree/master/wireframes/exports/Query_Builder I dropped some jpgs in there of the Mutation Selector and Sample Selector screens and would like your feedback. I would also like Joel to weigh in on these with his UX expertise but I can't seem to find him on github to add him to the project.

[2016-09-23 17:07] bdolly commented on #15
Created a static clickable prototype for review at https://invis.io/5P8PM61R8

Referenced in https://github.com/cognoma/uiux/issues/2

[2016-09-23 17:14] dhimmel opened #17 "Review of the static clickable prototype"
@bdolly created a static clickable prototype available at https://invis.io/5P8PM61R8 (introduced https://github.com/cognoma/frontend/issues/15#issuecomment-249248331).

We'll use this issue to provide feedback on this prototype.

[2016-09-23 17:16] dhimmel commented on #17
Closing this issue. The preferred review location is https://github.com/cognoma/uiux/issues/2. CC @gwaygenomics

[2016-09-23 17:16] #17 closed

[2016-09-28 20:27] BobMiller commented on #13
Greg (@gwaygenomics),

I looked at each of the sites above to see if their was any kind of api to use their data viewers. Here's a summary of what I found:

**Summary**

The sites listed all have api_s_ for viewing **_their data_**, but no api_s_ we could use to view **_our data_**. However two of the sites: cBioPortal, and GDC Data Portal, are open source, so if there is a graph we like, we could

[2016-09-28 20:29] BobMiller commented on #13
Oh yeah, as an alternative, I am looking into some open source javascript graphing packages to see if their is any we could use. If anyone has any suggestions,  let me know.

[2016-09-29 13:29] gwaygenomics commented on #13
Thanks for the thorough research @BobMiller - In your opinion, do you think it would be easier to adopt/modify these tools or build our own visualizations?

For several of these databases, all of the data should be the **same**. However, without direct versioning and release control I think you're right to think of our data as "separate"

[2016-09-29 14:27] dhimmel commented on #13
@BobMiller nice investigative research.

[`cBioPortal/cbioportal`](https://github.com/cBioPortal/cbioportal) is licensed as GNU AGPLv3. AGPLv3 is a very pesky open source license. We'll need a legal expert to make sure we can use their code.

Let's approach this on a case-by-case basis. Basically our cancer-data and frontend teams will have a visualization in mind. Then we'll look to see if there'

[2016-09-29 14:50] bdolly commented on #13
@dhimmel @BobMiller my initial thoughts on the data visualization implementation is to use [D3.js ](https://d3js.org/) which is open source, really powerful, customizable and used across a ton of projects and has lots of extensions and plugins.

This will allow us to roll our own visualizations with our own data. However it will take sometime to setup and likely won't make it into the MVP but is a

[2016-09-30 03:39] awm33 commented on #13
Our dashboarding software at work uses (Highcharts)[http://www.highcharts.com/], it's a lot easier to use than D3, but can't do super custom visualizations. I would suggest using highcharts or another charting library, then "graduating" to D3 when there is a need. I find a lot of people try to use D3 because it's very trendy right now, but they don't really need it, and it is more complex to use.

[2016-09-30 12:42] bdolly commented on #13
@awm33 I will agree with you on that. D3 is a beast of it's own and could be a bit overkill, especially for a minimum viable product.

It's good that we have options on the table right now but I feel like we're still getting ahead of ourselves as we have very little ground work laid for the front-end angular stuff and no servers kicking us json to speak of.

[2016-09-30 15:49] dhimmel commented on #13
Good point @awm33. I've heard good things about [vega](https://vega.github.io/vega/). I'm a little worried that highcharts.js isn't open source since it forbids commercial use, this could restrict who can build on top of cognoma. Let's cross the visualization bridge when we get there!

[2016-09-30 16:27] BobMiller commented on #13
I took a quick look at both  [Highcharts](http://www.highcharts.com/), and [D3.js  ](https://github.com/d3). As both Andrew @awm33 and Ben @bdolly have pointed out Highcharts is simpler to use, but D3 is more comprehensive. One big difference though, D3 **is open source** and Highcharts **is not** - it requires purchasing a license. This might be a deal breaker for this project.  I also noticed th

[2016-09-30 17:21] dhimmel commented on #13
@BobMiller let's start a new discussion for "post-classification visualizations".

See https://github.com/cognoma/machine-learning/pull/51 and [`hippo-output-schema.json`](https://github.com/dhimmel/machine-learning/blob/28cb22b1f7ec6c3438241e617d1bbc6d94a1410c/data/api/hippo-output-schema.json) for more information on the results coming out of machine learning.

[2016-10-03 22:53] dhimmel commented on #13
Wanted to take note of two additional technologies: [vega-lite](https://vega.github.io/vega-lite/) and [altair](https://altair-viz.github.io/). Here's the deal:

+ altair is built atop vega-lite
+ vega-lite is built atop vega
+ vega is built atop D3

Will try to test out some of these frameworks to provide my opinion on their ease of use and functionality.

[2016-10-04 21:43] BobMiller opened #18 "post-classification visualizations"
Opening this as an offshoot of the #13, at the suggestion of Dan ( @dhimmel ).

Basically we need to come up with a minimal list of visualizations for our initial release. Later we can add more bells and whistles. Hopefully Dan ( @dhimmel ), Greg ( @gwaygenomics ) and Casey ( @cgreene ) as well as anyone else can weigh in.

Initially our release is going to have one algorithm - Logistical Regressi

[2016-10-06 02:13] awm33 commented on #18
Something that would be cool, is if the JSON output could create a dashboard using a configuration. Then we wouldn't have to program separate dashboards per algorithm or have algorithm specific code in the frontend. Machine learning implementers running a local copy could play with the output. Config could also be separately stored the db or statically stored.

That might be ambitious for the init

[2016-10-06 23:15] #7 closed

[2016-10-07 14:18] bdolly opened #19 "Creation of base application dashboard html5 markup"
@BobMiller can you please create the base HTML5 markup for the application dashboard in the `develop`branch inside of app/js/components/app/app.tpl.html using the [Twitter Bootstrap ](http://getbootstrap.com/) framework.

The jpgs for the MVP can be found in cognoma/uiux repo at https://github.com/cognoma/uiux/blob/master/wireframes/exports/invision_app_prototype/
Those should allow you to use the

[2016-10-07 14:47] bdolly opened #20 "Component Creation: Mutations Overview"
@txnnxr welcome aboard! When you have a chance to familiarize yourself with the front-end scaffolding in the `develop` branch could you please start on the basic markup for the Mutations Overview component in the Query sidebar. This can be created in the `develop` branch of frontend repo app/js/components/MutationsOverview/mutations_overview.tpl.html

Once you have created the basic markup for the

[2016-10-07 14:49] bdolly opened #21 "Service/Controller creation: Base Application controller and logic"

[2016-10-09 15:44] BobMiller commented on #19
I'll be working on it today. Initially I'll create a blank layout with no graphics then fill the graphics in. If you have the graphics files you can email them to me. I will not need them right away, but if I get them in the next few days that would be good.

[2016-10-09 15:50] dhimmel commented on #19
Awesome! Nothing like some Sunday coding.

You can also drag and drop images into GitHub issues.

[2016-10-09 19:46] dhimmel commented on #18
@BobMiller, here are the visualizations that come to my mind. I'll reference cell numbers from [this notebook](http://nbviewer.jupyter.org/github/cognoma/machine-learning/blob/5199430cf82bcb3763084e559e4f6d563df656a5/2.TCGA-MLexample.ipynb):

1. ROC Curve showing performance (Cell 17)
2. Distribution of positives versus negatives (Cell 25)
3. Cross-validation performance grid (Cell 15)
4. Table of

[2016-10-09 19:49] dhimmel commented on #20
Welcome @txnnxr! Don't be shy if you have any questions.

[2016-10-11 16:15] txnnxr commented on #20
@bdolly sorry for some reason I wasn't receiving notifications on this. Will get started immediately just to be clear I'm starting on the Mutations in the query bar:
![screen shot 2016-10-11 at 12 07 59 pm](https://cloud.githubusercontent.com/assets/3223394/19278531/88e30386-8fab-11e6-9073-33010ab7f76e.png)
Does that also include the adjacent expanded view?:
![screen shot 2016-10-11 at 12 08 05 pm

[2016-10-11 16:17] bdolly commented on #20
@txnnxr just the overview component, I will be working on the expanded view component this week and the drag and drop functionality

[2016-10-17 19:25] bdolly opened #25 "Component Creation: Query Set - Disease Type"
Create in `develop` branch basic HTML5 markup and styling for the Gene/Mutations Set Component with static data in the template. This can be created inside `app/js/components/queryBuilder/querySets/querySetDiseaseType/` , there maybe the need to create additional child components which should be nested inside this directior have their own directories and templates.

The design for the populated st

[2016-10-17 19:29] bdolly opened #26 "Component Creation: Query Set - Mutations"
Create in `develop` branch basic HTML5 markup and styling for the Gene/Mutations Set Component with static data in the template. This can be created inside `app/js/components/queryBuilder/querySets/querySetMutations/` , there maybe the need to create additional child components which should be nested inside this directior have their own directories and templates.

The design for the populated stat

[2016-10-17 19:44] bdolly commented on #25
@dhimmel  not sure how I can assign this to Tanner (@txnnxr) he's not showing up in the list of possible assignees

[2016-10-17 19:47] bdolly commented on #26
@txnnxr think you can knock this out?

[2016-10-17 20:12] bdolly opened #27 "Angular Service creation: Application Authentication"
Need to create an authentication service in the front-end application logic.

@cgreene @dhimmel I've read through the [core-services issue](https://github.com/cognoma/core-service/issues/1) for this and am unsure what the outcome of that discussion was as far as what's to be implemented. I could use some guidance as to what the authentication process is and how it is to be implemented on the front

[2016-10-17 20:21] dhimmel commented on #25
I sent @txnnxr an invite, which if he accepts should make him assignable. In the meantime, we can get by with mentions.

[2016-10-17 20:26] bdolly opened #28 "Angular Service creation: Cognoma Core-Service API intergation"
Create a service that communicates with the [Cognoma Core-Services API](https://github.com/cognoma/core-service).

@cgreene @awm33 I see [endpoints documented](https://github.com/cognoma/core-service/blob/master/doc/api.md) but I'm not sure **what the base API url is** or if there is one or if the core-services can be spun up locally to interact with during development. Some guidance here would be

[2016-10-17 20:36] bdolly opened #29 "Unit Test: basic unit tests for existing application components"
Need to write base unit tests for existing components:
- [x] constants
- [x] app on_config block/routing
- [ ] app on_run block
- [ ] app
- [ ] navGlobal
- [ ] queryBuilder
- [ ] queryOverview
- [ ] queryOverviewControl
- [ ] diseaseListing
- [ ] mutationListing
- [ ] queryParamSelector
- [ ] querySetMutation
- [ ] querySetDiseaseType

Also need to integrate unit test runner into `npm run dev` tas

[2016-10-17 20:43] bdolly opened #30 "Component Creation: Query Parameter Selector - Mutations"
need to create in `develop` branch the basic HTML5 markup for the **Gene Search/queryParamSelectorGenes** component.

The design for this can be found in https://github.com/cognoma/uiux/blob/master/wireframes/exports/invision_app_prototype/1.1-Cognoma-GeneSelection-SEARCH.jpg

[2016-10-17 20:44] bdolly opened #31 "Angular Directive creation: Drag and Drop"
TBD

[2016-10-18 01:52] awm33 commented on #27
@bdolly When a user enters the app, or at least needs to perform an action that POSTs/PUTs, a user object needs to be created.

On the returned user object, there will be a random_slugs array field, that will always be of length 1 on creation.

`POST /users`

Response

[code]

`name` and `email` are optional fields. RIght now, name could be anything, even a nickname.

The "random_slug" can be used

[2016-10-18 01:59] awm33 commented on #28
@bdolly There is no base URL yet. We were thinking `https://cognoma.org/api` but it could also be a subdomain like `https://api.cognoma.org`

There is some guidance on how to run the API server locally in [the README](https://github.com/cognoma/core-service). I'm working on docker setup which should make that much easier. Docker compose should set up nginx, core-service, task-service, and postgres

[2016-10-18 02:19] awm33 opened #32 "Continuous Integration"
The backend repos have been set up to use CIrcleCI for Continuous Integration. I think we should set that up on the frontend. Right not this is just for testing CI, so on a change to master, that would run tests in a container on CircleCI. CircleCI is enabled for this Github org, so anyone who is a maintainer can add it to the repo.

We'll also need to pick some test runners, usually a runner like

[2016-10-18 13:49] bdolly commented on #32
@awm33 I'm down with this idea. This repo has a `production` branch where all the final changes that need tested would reside, we could run CI tests on that before pushing to `master` so that production would function as a sort of staging area.

I would need some guidance as to how to set up the testing and it's workings as it's an area I don't have experience in and hoped to learn about with proj

[2016-10-18 16:11] dhimmel commented on #28
@awm33 do you prefer `https://cognoma.org/api` or `https://api.cognoma.org`? Does one option provide us more flexibility or hosting modularity?

Is it the case that our frontend code is all static? For example, we could host it using GitHub Pages? In that case, I think we'd want to use `https://api.cognoma.org` since the API cannot be hosted on GitHub Pages.

[2016-10-18 19:01] txnnxr commented on #26
@bdolly I'll get on these before tonight's meeting

[2016-10-18 19:10] bdolly commented on #26
@txnnxr cool, I'm going to be running a little late tonight but I want to go over the project structure and roadmap with the front-end team tonight so we can get rocking on some dev for this

[2016-10-18 20:25] awm33 commented on #28
@dhimmel I think I would prefer `https://api.cognoma.org`. I don't think we can use Github Pages since we can't set Cross Origin Resource Sharing headers.

We could host the static frontend using nginx or even just S3, which supports setting [CORS headers](http://docs.aws.amazon.com/AmazonS3/latest/dev/cors.html) and is almost maintance free.

For local development, some sort of web server would b

[2016-10-18 20:29] dhimmel commented on #28
Okay then let us go with `https://api.cognoma.org`.

[2016-10-19 14:09] bdolly opened #33 "Component Creation: Query Builder Wizard Bar"
Create in `develop` branch basic HTML5 markup and styling for the queryBuilderWizard component in `app/js/components/queryBuilder/queryBuilderWizard`.  The functionality for this can be seen in the clickable prototype at https://invis.io/5P8PM61R8 and the flat design files can be found in [uiux repo](https://github.com/cognoma/uiux/tree/master/wireframes/exports/invision_app_prototype) if graphic

[2016-10-19 15:50] bdolly commented on #29
@awm33 can you take a look at the `develop` branch testing setup. It is based on  https://github.com/jakemmarsh/angularjs-gulp-browserify-boilerplate#testing-1 setup for unit and e2e test and advise if this is a good testing setup to move forward with as I don't have much experience in this area

[2016-10-19 22:56] awm33 commented on #29
@bdolly That's looking good. Were you able to get working with Selenium?

[2016-10-20 02:53] bdolly commented on #29
@awm33 Yeah I think so? I did some googling and ended up brew installing JRE which resolved some issue with it

[2016-10-22 18:31] awm33 commented on #29
Trying to run the tests myself locally, I get "Error: Cannot find module 'ui-router-route-to-components' from '/Users/amadonna/Documents/frontend/app/js'"

Full console

[code]

Node.js - v6.1.0
NPM - 3.8.6

[2016-10-24 01:28] bdolly commented on #29
@awm33 looks like I forgot to pass `--save-dev` flag when I installed that module. If you run `$npm i ui-router-route-to-components --save-dev` to install that module it should clear up that error.

[2016-10-25 20:51] bdolly commented on #29
@awm33 adding the proper package.json in https://github.com/cognoma/frontend/pull/35

[2016-10-26 01:55] awm33 commented on #32
@bdolly @dhimmel Can you or anyone with permissions add this repo to CircleCI? I can create a circle.yml file to execute the tests if we need to, but I don't have permissions to add CircleCI.

[2016-10-26 13:48] dhimmel commented on #32
I believe I added `cognoma/frontend` to CircleCI. See https://circleci.com/gh/cognoma/frontend.

[2016-10-26 17:47] bdolly commented on #30
@txnnxr think you could knock this out? I've been grinding out unit tests for the base components we have already so that when we do launch this thing we'll know it's tested and solid.

There are a couple of **component states** for this component:

- **`clean/pristine`**: no user input in the search bar
    - This will show the instructions for how search for genes, [design mock here](https://git

[2016-10-26 17:50] bdolly commented on #29
added unit test runner into `$npm run dev` task with #35

[2016-10-27 01:16] awm33 commented on #32
@dhimmel Yep, it's working! Looks like we just need to setup a circle.yml

[2016-10-29 14:37] txnnxr commented on #30
@bdolly I'm on it.

@awm33 @dhimmel if either of you could help me out in getting some json to test this component that would be great, or just a list of keys/values would also be helpful and I could just use filler data.

[2016-10-31 18:43] dhimmel commented on #30
@txnnxr are you asking for information to populate the gene cards? If so, I think we're leaning towards using a service called mygene for gene selection: https://github.com/cognoma/core-service/issues/29#issuecomment-252637420. Our adoption of mygene will depend on when they're able to roll out a [new feature to allow partial search](https://github.com/SuLab/mygene.info/issues/4#issuecomment-25519

[2016-11-01 20:08] bdolly opened #37 "Angular Service creation: Query Param Selector/Gene Search"
A mock angular backend service needs to be created that will provide Gene/Mutation search result json to the `queryParamSelectorGenes` component search functionality.

@awm33 @dhimmel this service will provide the data to front-end for the gene search results. That data has been discussed somewhat in https://github.com/cognoma/frontend/issues/30 with a mention of using https://mygene.info/v3/ quer

[2016-11-01 20:33] dhimmel commented on #37
I think there's a 90% that we go with mygene.info API calls for searching for genes and populating gene cards.

I would say let's not do this right now given there's a large chance we won't go this direction. We may still end up querying the core-service/genes api for our results viewer.

[2016-11-01 20:51] dhimmel commented on #13
At a recent symposium I talked with the authors of altair and vega-lite. I'm now pretty convinced that this is the best way forward. Basically, the machine-learning team can use altair to create visualizations in our Python notebooks. These visualizations can be exported to a vega-lite JSON specification. The frontend can use the vega-lite specification and change the underlying data to produce in

[2016-11-02 20:18] bdolly commented on #30
@txnnxr where are we at with this? I'm going to start working on the Mock backend service soon to pull data for this from the https://mygene.info/v3/ endpoint

[2017-01-16 16:20] LukePettway opened #42 "MLK DAY - Include Sass in Component Directories"
Sass files should live in the component folder and imported into the component.

[2017-01-16 16:24] brendanmckeown opened #43 "MLK DAY - Re-org Component Directory Structure"
Organize components into two top-level directories: `components/common` and `components/queryBuilder`. `diseaseCard` and `geneCard` will be placed inside `queryBuilder`; all others will be placed in `common`.

[2017-01-16 16:53] philippelesaux opened #44 "MLK Day - Fix clear button"
Under mutations and disease type, the clear button is not a `<button>`

[2017-01-16 17:50] philippelesaux opened #47 "MLK Day - fix info box"
Info boxes should be able to close

[2017-01-16 17:54] bdolly commented on #30
wrapped this functionality into the MutationsService

[2017-01-16 17:54] #30 closed

[2017-01-16 17:56] bdolly commented on #32
circle ci working on pull request creation

[2017-01-16 17:56] #32 closed

[2017-01-16 17:57] bdolly commented on #19
DEPRICATED old mark up

[2017-01-16 17:57] #19 closed

[2017-01-16 17:58] #20 closed

[2017-01-16 18:10] #25 closed

[2017-01-16 18:11] bdolly commented on #26
closed with #34

[2017-01-16 18:11] #26 closed

[2017-01-16 18:42] brendanmckeown opened #49 "MLK DAY - Replace $templateCache with imported inline templates"
Currently, the Angular `$templateCache` service is being used to compile all component templates into the `js/template.js` file. This is good for performance, because it prevents Angular from having to make a separate request for every template it encounters. The `$templateCache` service can be buggy at times, though, and adds extra complexity to the build process. You can achieve the same benefit

[2017-01-16 20:07] bdolly commented on #28
closed with #51

[2017-01-16 20:08] #28 closed

[2017-01-18 16:56] dhimmel opened #59 "Defining a custom elastic search query for mygene.info"
Based on our feedback, @cyrus0824 and @newgene have added a new custom user query feature to mygene.info, as described in https://github.com/SuLab/mygene.info/issues/4#issuecomment-273294532. So I think we will have to submit a pull request adding our custom query to [`SuLab/biothings.userqueries/mygene`](https://github.com/SuLab/biothings.userqueries/tree/master/mygene) -- unless the `prefix` que

[2017-01-20 00:13] bdolly commented on #44
closed with #46

[2017-01-20 00:13] #44 closed

[2017-01-20 00:15] bdolly commented on #47
closed by #58

[2017-01-20 00:15] #47 closed

[2017-01-20 00:34] bdolly commented on #43
closed by #48 merge

[2017-01-20 00:34] #43 closed

[2017-01-20 01:31] bdolly commented on #42
closed by #57

[2017-01-20 01:31] #42 closed

[2017-01-21 01:10] bdolly opened #61 "Circle CI builds failing due to peerDependencies requirements! with Karma"
@awm33 I've tried to figure out why this is still happening and can't seem to get it resolved. I've tried `$ rm -rf node_modules && npm i` numerous times as well as updating the package json in different ways with no luck.

[2017-01-21 01:11] bdolly commented on #61
merging despite #20

[2017-02-01 00:04] #37 closed

[2017-02-01 00:05] bdolly commented on #21
closing this, task is too vague

[2017-02-01 00:05] #21 closed

[2017-02-01 00:11] bdolly opened #62 "Jobs/Classifier View"
As per discussion at the Jan 31, 2017 meetup between Front-end and Back-end working groups there is a need to add a Jobs/Classifier view that will accessible from the global navigation side-bar.

This view will display lists of queries/classifiers (sent from the query builder to the backend) by status (Completed, In Progress, Saved ).

[2017-02-01 01:00] bdolly opened #63 "User(s) Implementation"
Users do not want to have to register to use the application therefore the solution is to create a `user slug` (random string generated from [core-service /Users](https://github.com/cognoma/uiux/tree/develop/wireframes) api) to add as a url parameter. The main application route should resolve the authentication/creation of the `user slug`.

The `user slug` is required for a user to be able to POST

[2017-02-01 01:07] bdolly opened #64 "Results Viewer View/App"
A view needs to be created to show the results of a given classifier/query and offer data visualizations.

@dhimmel can you please provide some functional as well as layout requirements for this view, specifically those that pertain to the data visualization(s) needed?

[2017-02-01 01:24] w0lya commented on #64
@dhimmel

[2017-02-01 01:25] bdolly opened #65 "Query Review Screen"
@w0lya

[2017-02-01 02:20] bdolly commented on #64
@dhimmel how do I make it so I can add @w0lya to the assignees for front-end task?

[2017-02-01 02:30] bdolly opened #66 "Application Start/Intro Screen"
An Introduction to Cognoma screen needs to be created that would access by the main application route. Layout, documentation and requirements for this screen can be found in the [UI/UX wireframes](https://github.com/cognoma/uiux/tree/develop/wireframes).

The [layout](https://github.com/cognoma/uiux/blob/develop/wireframes/1-InitialScreen.jpg) should follow the content given in the wireframe but t

[2017-02-01 15:55] bdolly commented on #61
closed with #67

[2017-02-01 15:55] #61 closed

[2017-02-01 18:19] w0lya commented on #64
@dhimmel @bdolly probably you guys need to add me to project members? haven't worked with github boards, just assuming

[2017-02-01 18:36] dhimmel commented on #64
Okay once @w0lya accepts her [invitation](https://github.com/cognoma/frontend/invitations), you should be able to assign her.

Give me a day or two to sketch out a preliminary results viewer. In the meantime, the visualizations and data tables will be based on cells 12+ in [`2.TCGA-MLexample.ipynb`](https://github.com/cognoma/machine-learning/blob/553d704d67ebd246b38333dabaf16b32657d0de1/2.TCGA-ML

[2017-02-01 18:59] w0lya commented on #64
@dhimmel accepted, thanks!
In the meantime I have some stuff to do in terms of setup anyway :)

[2017-02-01 20:03] bdolly opened #69 "Update and expand on Unit Tests for all Query Builder components"
Since much of the Query Builder has been re-factored there is a need to update and expand upon the unit tests for each components. The test should include any functional concerns as well component attribute binding and pass when `$npm run unit` is executed.

[2017-02-01 20:08] bdolly commented on #65
@dhimmel the more I think about the more I don't think this is a mission critical screen for the MVP and could be de-prioritized a bit, thoughts?

[2017-02-01 20:10] bdolly commented on #29
closing as task is too vague

[2017-02-01 20:10] #29 closed

[2017-02-01 20:11] bdolly commented on #63
related issue #27

[2017-02-01 20:18] dhimmel commented on #65
I don't think it's mission critical. I was thinking it would have the following elements:

1. the list of selected genes and their corresponding number of positives and negatives
2. the list of selected mutations and their corresponding number of positives and negatives
3. the mutation frequency by disease type heatmap from https://github.com/cognoma/machine-learning/pull/74.
4. In the future, the

[2017-02-17 20:11] dhimmel opened #70 "Switch default branch to develop"
@bdolly what do you think of switching the default branch on GitHub from `develop` to `master`? I'd like to address two things:

1. `cognoma/frontend` contributions getting counted in our [contribution analysis](https://github.com/cognoma/cognoma/tree/714aaebeb2c262f70cafb759bb9da5770c176745/contrib), which only looks at default branches of repos.
2. when someone comes across this repository, they

[2017-02-18 18:46] bdolly commented on #70
@dhimmel is there a way to make `develop` branch the default branch for the repo. ? I would prefer to keep all work in the `develop` branch as to follow the [gitlfow](http://nvie.com/posts/a-successful-git-branching-model/) methodology. This will allows us to hook in deployment automations  in the future and make for better version and release control over the life of the project.

I should howeve

[2017-02-18 20:15] awm33 commented on #70
@bdolly @dhimmel At that point, isn't `master` production? I've never used gitflow. I've always had `master` be the bleeding edge aside from task specific development branches. Sometimes I've used a `production` branch to automate deployment.

You can change the default branch in the repo settings.

[2017-02-18 20:51] dhimmel commented on #70
@bdolly you can change the branch settings at https://github.com/cognoma/frontend/settings/branches.

I don't have a strong opinion on whether the "bleeding edge" branch should be master or something else, but I do think the "bleeding edge" branch should be the default. @bdolly would it interfere with gitflow to make develop the default branch on GitHub? What do you think is best?

[2017-02-18 21:16] bdolly commented on #70
@dhimmel @awm33 Come to think of it we did create a `production` branch for auto deployments, so it's cool to make `develop` the default for the repo. I think in the start we decided to leave `master` as a sandbox branch for new comers and move auto deployments to `production`

[2017-02-18 21:26] dhimmel commented on #70
@bdolly cool, I'll let you make the switch. Just gave you admin so you shouldn't run into any problems. Will let you decide what to do with `master`. It may not even be a bad idea to delete it completely if it's going to cause more confusion than its worth.

[2017-03-01 00:32] awm33 opened #71 "Frontend Production Environment"
cognoma.org

Requirements
- S3 / CloudFront site
- Needs CORS access to api.cognoma.org
- Continuous Deployment - on the `master` (production) - should be able to do this in CircleCI

[2017-03-01 00:42] awm33 commented on #71
@amann Wanna help :D

[2017-03-01 00:43] dhimmel commented on #70
Changed the default branch for `frontend` and `uiux` to `develop` from `master`. FYI, this is how the GitHub settings described the default branch:

[2017-03-01 00:43] #70 closed

[2017-04-04 16:39] dhimmel opened #74 "Deploy to GitHub pages"
This issue is for deploying the webapp to http://cognoma.org. From my understanding, the static webapp files are created in the `build` directory by running:

[code]

As per https://github.com/cognoma/frontend/pull/73#issuecomment-290589794, we will use [`ghp-import`](https://github.com/davisp/ghp-import) to overwrite the `gh-pages` branch with the contents of the `build` (after building the app l

[2017-04-04 19:18] dhimmel opened #75 "npm run build: events.js unhandled error event"
On Ubuntu 16.10 I'm getting an error when running `npm run build`. Here's the terminal output:

[code]

Here's the error log npm suggested I include in this issue: [`2017-04-04T19_14_12_238Z-debug.log.txt`](https://github.com/cognoma/frontend/files/894241/2017-04-04T19_14_12_238Z-debug.log.txt).

[2017-04-04 19:21] dhimmel commented on #75
I had updated my node.js and npm versions, using the [Ubuntu PPA](http://www.hostingadvice.com/how-to/update-npm-packages/).

I ran `npm rebuild` and the above issue was no longer! So I'm guessing the rebuild solved the issue.

[2017-04-04 19:21] #75 closed

[2017-04-04 19:39] dhimmel commented on #74
`npm run build` overwrites all contents of `build/`. So we need to have `npm run build` copy the CNAME file into `build`. Here are a [few methods](https://surge.sh/help/copying-extra-files-into-the-directory-you-publish) for copying, but I haven't had success yet.

[2017-04-05 01:31] dhimmel commented on #74
@bdolly implemented the CNAME fix in https://github.com/cognoma/frontend/pull/77.

http://cognoma.org/ currently returns 404, but I think that's a GitHub issue. Will check back tomorrow and if still not resolved contact GitHub.

[2017-04-06 01:06] dhimmel commented on #74
I contacted GitHub Support about the Pages 404. Antonio responded:

So the issue with GitHub is fixed. Now it looks like we've got an issue that there is no `js` directory in our `gh-pages` branch. @bdolly any ideas why not?

[2017-04-06 01:21] bdolly commented on #74
@dhimmel my guess would be that maybe your `ghp-import` command didn't do a recursive copy to `gh-pages` branch

[2017-04-06 01:45] dhimmel commented on #74
That's odd as `ghp-import` [recursed and copied](https://github.com/cognoma/frontend/tree/ea7ff5b42fa7946c2e4330d1c0edf2eeb060e562) the `css` and `images` dir. I'll look into the matter.

@bdolly can you confirm that the `build/js` directory exists in your local repo?

[2017-04-06 01:51] bdolly commented on #74
Looks like it's missing in my local. I'll check into it tomorrow and see if I can adjust the the gulp task to include it.

[2017-04-07 15:16] bdolly commented on #74
@dhimmel I updated the `$npm run build` task on my local `develop` branch to include the /js directory into the build. Do you want me to make a PR to merge that into cognoma:develop branch?

[2017-04-07 16:12] dhimmel commented on #74
Yes!

[2017-04-07 20:28] #74 closed

[2017-04-07 20:56] dhimmel opened #80 "Missing fonts directory"
We've deplyed the [`gh-pages`](https://github.com/cognoma/frontend/tree/gh-pages) branch of this repo to http://cognoma.org/ via GitHub Pages: #74.

However, it looks like we're missing the `fonts` directory:

![fonts-cognoma](https://cloud.githubusercontent.com/assets/1117703/24819556/0a1be9d4-1bb3-11e7-864e-ddccb613554f.png)

[2017-04-08 17:43] bdolly commented on #80
@dhimmel this is an issue on the `develop` branch as well and has not yet been addressed. I think it might have something to do with the way the bootstrap stylesheet is loaded into the build

[2017-04-20 16:48] dcgoss opened #83 "Typo: "alogrithm""
Should be spelled "algorithm".
Noted in these files:
https://github.com/cognoma/frontend/blob/develop/app/js/components/queryBuilder/queryParamSelector/diseaseTypeInstructions/diseaseType_instructions.tpl.html

https://github.com/cognoma/frontend/blob/develop/app/js/components/queryBuilder/queryParamSelector/mutationsInstructions/mutations_instructions.tpl.html

https://github.com/cognoma/frontend

[2017-04-20 17:00] dhimmel commented on #83
Cool, will let you make the PR.

[2017-04-23 16:17] #83 closed

[2017-04-25 23:29] arielsvn commented on #80
yes, it's because bootstrap's styles reference fonts that are in the node package, but these fonts are not being included when the project is built. It's a configuration issue, I'll add a PR to fix it

[2017-04-26 00:04] #80 closed

[2017-04-26 18:57] dhimmel opened #86 "npm run unit times out on CircleCI"
Our tests for commits on the `develop` branch are timing out (since it prints no output for 10 minutes). You can see the [CircleCI build](https://circleci.com/gh/cognoma/frontend/114):

![timeout](https://cloud.githubusercontent.com/assets/1117703/25451527/68ecc5fa-2a90-11e7-9e83-d9526507260c.png)

This doesn't seem to occur for pull requests.

Perhaps some additional tests which rely on encrypted

[2017-05-09 02:14] #86 closed

[2017-05-26 18:51] dhimmel opened #89 "Creating the mutation frequency heatmap for the query review screen"
For the [query review screen](https://github.com/cognoma/frontend/issues/65), we'd like to have a heatmap showing the frequency of each mutation for each disease type. You can see what these heatmaps will look like in [this notebook](https://github.com/cognoma/machine-learning/blob/c4968d1d1c9ed1504a8e2b5d697e265a18f7db01/explore/heatmap-vega-lite/heatmap.ipynb).

@bdolly so you can get started im

[2017-05-30 18:10] dhimmel commented on #89
In the example above, [the notebook](https://github.com/cognoma/machine-learning/blob/c4968d1d1c9ed1504a8e2b5d697e265a18f7db01/explore/heatmap-vega-lite/heatmap.ipynb) generated that JSON. However, the goal is to generate this data in the frontend (or if neccessary via the backend). The idea is that the vega-lite specification will stay the same, but the frontend will update the data whenever the

[2017-07-10 19:33] dcgoss commented on #27
We have set up the backend to email the user when their classifier is processed. At the moment it doesn't seem like the user inputs their email anywhere. It would be great if the frontend could handle the user inputting their email - let me know if you need any backend updates.

[2017-07-10 19:48] bdolly commented on #27
@dcgoss the user email input will be part of the user/profile screen which I need wireframe and implement. Hoping to get this screen started or implemented at the next meetup

[2017-07-20 20:09] dcgoss commented on #49
Resolved by https://github.com/cognoma/frontend/pull/56

[2017-07-20 20:09] #49 closed

[2017-08-09 17:08] dcgoss opened #96 "Negative sample count not appearing when there are 0 positives"
https://github.com/cognoma/frontend/blob/a1b22117460e57996d751c0bf899aaca0892c8f6/app/js/dataModels/DiseaseModel.js#L102-L108

Negative count is currently set to null when there are 0 positives, meaning there is no negatives shown in the negative box.
The solution is to fix these calculations by setting negatives to just `this.samples - this.positives`

[2017-08-09 17:11] dcgoss opened #97 "User email submission when creating classifier"
A user who has no email associated with their account needs a way to submit an email when creating a classifier.
After they submit their email, the frontend could use the email stored on the user object or just ask for an email every time.

Implementation:
- Prompt user for email
- Validate with regex
- Send user update request to core-service
- Upon success, continue submitting classifier like no

[2017-08-15 21:06] dhimmel opened #99 "Add a "select all diseases" option to the frontend"
Many users will want to run their analysis on all diseases, or alternatively work backwards excluding certain diseases.

The option / button would select every disease and add them to "SELECTED DISEASE TYPES" pane.

[2017-08-15 21:07] dhimmel opened #100 "Add Cognoma logo somewhere on the website"
We have a nice cognoma logo ([SVG here](https://github.com/cognoma/cognoma/blob/master/media/logo/cognoma-bw.svg)). It would be great for branding if we could incorporate this logo somewhere in the frontend / cognoma.org.

[2017-08-15 23:56] #96 closed

[2017-08-16 00:32] BobMiller opened #101 "Cognoma.org Release Test results"
Cognoma.org Issues

questions aboput this list? contact Bob Miller, BobSquareWire@gmail.com

1) What is the full site address?

When I type in www.cognoma.org I get a
"site can not be reached; server DNS address can not be found" message.
But I can reach it by entering just "cognoma.org". So the "www" does not work.

2) gene selection

	-1 type lip in parameter searchbox
	-2 18 genes are listed, s

[2017-08-17 00:43] rdvelazquez opened #102 "Jobs fail due to too few positive samples"
Can the frontend catch queries with too few positive samples and tell the user that the query can't be submitted because there aren't enough positive samples? @bdolly and @dcgoss: is this doable?

There are two motivating factors for this:
1. Some queries fail because there are too few positive samples (samples with a mutation in at least one of the selected diseases). This is obviously the case i

[2017-09-20 11:39] rdvelazquez opened #103 "Compile Error 'angular-growl-v2'"
I'm having some trouble getting the fronted up and running on my computer. I am getting the following error: `gulp-notify: [Compile Error] Cannot find module 'angular-growl-v2' from '/home/Ryan/code/frontend/app/js'`.
I've reproduced this error on Windows 10 using PowerShell and on the Windows Subsystem for Linux (WSL) using Ubuntu Bash.

I was getting another error previously `npm WARN optional S

[2017-09-20 13:47] dcgoss commented on #103
Check this out and let me know if it helps: https://github.com/cognoma/frontend/pull/94

[2017-09-22 10:32] rdvelazquez commented on #103
Thanks @dcgoss! That was very helpful.

I deleted the build and node_modules folders from my previous build attempts and then manually installed `angular-growl-v2` with `npm install angular-growl-v2` and re-built. It worked fine.

[2017-09-26 01:20] #103 closed

[2017-10-07 22:42] rdvelazquez commented on #100
The logo is already in the browser tab, which looks good.

As far as adding the logo to the website itself, we could add a small white logo to the top left (see below). Let me know what you think.

Chrome:

![chrome](https://user-images.githubusercontent.com/25244432/31312350-8dd3fb98-ab8e-11e7-90d7-863a9d1aa8c8.png)

ie:

![ie](https://user-images.githubusercontent.com/25244432/31312359-d39af5dc-

[2017-10-07 22:46] rdvelazquez commented on #99
Agreed that this would be a nice addition. I'd like to take a crack at this.
@dhimmel, @bdolly or @dcgoss let me know if this has been started already or if there's anything I should know before working on this.

[2017-10-10 15:50] dhimmel commented on #99
Cool!

[2017-10-10 15:52] dhimmel commented on #100
Top right looks good to me.

Another option would be a light background watermark version in the large light frame.

[2017-10-10 16:56] rdvelazquez commented on #100
I went with top left as opposed to top right because the submit button is in the top right.

I like the watermark background option best. I probably won't have time to do that before tomorrow night but if no one gets to that, I'll try and work on it later this week.

[2017-10-10 17:46] dhimmel opened #106 "Limit gene selection to protein-coding genes only"
Currently our API queries to mygene.info are specified in

https://github.com/cognoma/frontend/blob/a1b22117460e57996d751c0bf899aaca0892c8f6/app/js/constants.js#L21-L29

I think we should also restrict to "protein-coding" genes, as users will be primarily interested in mutations for protein-coding genes. In general we will only have mutations for protein-coding genes, since we [require](https://gi

[2017-10-10 18:04] dhimmel commented on #100
Yeah my bad. Top left makes more sense than top right.

No rush!

[2017-10-12 18:30] marz0 opened #107 "Google analytics has not been added"
Once [google analytics](https://analytics.google.com/) has been setup by one of the maintainers/owners, the proper code [can be added](http://jasonwatmore.com/post/2015/11/07/angularjs-google-analytics-with-the-ui-router) in order to get more insight about the users of cognoma.

[2017-10-17 22:31] rdvelazquez commented on #107
This would be a nice addition to be able to understand how Cognoma is being used. I'd be curious to hear from @dhimmel on if there are downsides to having analytics set-up... will some researchers be wary of using a service if their particular gene pathways or gene/disease combinations of interest could be visible to others before they are ready to publish?

It looks like the free version of googl

[2017-10-23 20:52] leipzig opened #109 "gene auto-complete in mutations is kind of wacky"
type in `GRIN` - suggests CAMK4 ACSBG1 GSR NR3C1 DCAF6
type in `GRIN2` - suggests GPRIN2
type in `GRIN2A` - suggests GRIN2A GRIN2D GRIN2B

[2017-10-25 17:51] rdvelazquez commented on #102
Closed by #104

[2017-10-25 17:51] #102 closed

[2018-01-22 15:47] dhimmel opened #111 "Decrease delay in searching cancers"
Searching for cancers on the http://cognoma.org/query-builder/disease-type selection page is laggy. I think this is because the frontend is waiting to receive the values in the Samples, Positives, and Negatives fields before displaying the results.

However, the user is only searching the cancer name, so the names could appear first while the values of Samples, Positives, and Negatives are still b

[2018-01-22 15:57] dhimmel commented on #99
On the disease selection page (http://cognoma.org/query-builder/disease-type), when the search bar is blank, all 33 cancers should be displayed. Typing in the search bar should filter these cancers. Currently, the default is to show no cancer.

@rdvelazquez, we have a new frontend specialist in the Greene Lab. Welcome @ramenhog! She can take over addressing this issue, potentially building off of

[2018-01-22 16:23] #1 closed

[2018-01-22 16:23] #2 closed

[2018-01-22 16:23] #3 closed

[2018-01-22 16:24] #5 closed

[2018-01-22 16:24] #6 closed

[2018-01-22 16:24] #10 closed

[2018-01-22 16:25] #12 closed

[2018-01-22 16:25] #13 closed

[2018-01-22 16:25] #15 closed

[2018-01-22 16:27] #18 closed

[2018-01-22 16:27] #27 closed

[2018-01-22 16:28] #31 closed

[2018-01-22 16:29] ramenhog commented on #33
We think this is completed, but feel free to open if not the case.

[2018-01-22 16:29] #33 closed

[2018-01-22 16:31] ramenhog commented on #59
This has been implemented. There are some remaining issues with the mygene.info queries. See #106 & #109.

[2018-01-22 16:31] #59 closed

[2018-01-22 16:32] rdvelazquez commented on #99
Sounds good. Glad Cognoma is getting some help. Welcome @ramenhog!

Agreed. I think a the option to select all diseases (without having to individually click all 33) should also be implemented.

#108 was just a WIP PR to get the ball rolling on this. I'm not sure there will be much of value there but you are certainly welcome to use what you can.

@ramenhog - If you haven't already, I would sugges

[2018-01-22 16:34] ramenhog commented on #64
Closing since we switched to a notebook viewer for output.

[2018-01-22 16:34] #64 closed

[2018-01-23 14:58] ramenhog commented on #99
@rdvelazquez awesome, thanks for the tip!

[2018-01-23 19:15] dhimmel opened #112 "Update README for master as default branch"
I switched the default branch to `master` from `develop`, the idea being that we don't need a separate development branch for this project.

We'll need to update the README to avoid confusion. Open PRs can be switched to using the `master` branch as their base.

This means that merged PRs will immediately get deployed, once tests pass and assuming the following is configured properly:

https://git

[2018-01-24 14:06] #112 closed

[2018-01-24 14:09] ramenhog opened #115 "Fix Unit Tests"
#### Description
Tests are currently failing in CircleCI and need to be fixed for automatic deployment

[2018-01-25 14:10] #115 closed

[2018-01-25 14:45] ramenhog commented on #99
Just had a conversation with Deepa about the UX of the button and such, so I'm putting a checklist of things to do for it here so I don't forget:

- [ ] Move instructions for disease type selection over to Disease Type Set
- [ ] Remove dotted border rectangle from Disease Type Set (since it doesn't really act like a button)
- [ ] Put "Select All" button in the Parameter Selection section
- [ ] Add

[2018-01-25 20:57] ramenhog opened #117 "Clearing added items in query doesn't make them reappear in search results"
#### Description
Clearing added items in query doesn't make them reappear in search results

#### Screenshots
![issue-117](https://user-images.githubusercontent.com/4724065/35411931-9c93d7c4-01e8-11e8-8ff4-e46472a95a40.gif)

#### To Reproduce
* add all diseases to query
* click the "clear" button in the Disease Type Set column
* notice how results remain empty

[2018-01-25 21:04] ramenhog opened #118 "Mission: a cleaner, more consistent UI"
#### Description
Update the UI/UX of the product and removing bootstrap-sass and glyphicons

[2018-01-30 18:33] #99 closed

[2018-01-30 19:49] ramenhog opened #121 "CircleCI unit tests on master is timing out"
#### Description
Browsersync is running on master branch unit tests in CircleCI and timing out

#### Screenshots
![screen shot 2018-01-30 at 2 48 55 pm](https://user-images.githubusercontent.com/4724065/35587770-c523f2d6-05cc-11e8-8e52-9eb6abebdb68.png)

#### To Reproduce
https://circleci.com/gh/cognoma/frontend/184

[2018-01-31 18:25] ramenhog opened #124 "Use tables instead of cards"
#### Description
Create a reusable table component for the query param selector for both mutations and diseases

[2018-02-02 19:43] dhimmel opened #126 "Create a landing page for cognoma.org"
When a user goes to cognoma.org, it would be nice to have a landing page with a simple overview of what cognoma is. Currently, cognoma.org immediately displays the analysis builder, which probably confuses new users who don't have any context.

@ramenhog and I were discussion and I've come up with some text snippets that could be appropriate for the landing page.

***

Welcome to Cognoma
_putting

[2018-02-02 21:02] Miserlou opened #127 "ValueError: The number of class labels must be greater than one."
This was my result from our tour of Cognoma session today.

[code]

I _think_ to reproduce this, you can choose the first item in each list when searching for the letter 'T'.

It looks like this is a type of bad input which could be prevented from executing by checking something on the front end.

[2018-02-02 23:18] rdvelazquez commented on #127
This probably happened because the query you submitted didn't have any mutated (positive) samples. You will get other similar errors if you submit a query that only has a few mutated samples. We addressed this issue by not allowing queries with less than 20 negative (or positive) samples. These changes were pushed in #104 but haven't been deployed yet. Once the changes are deployed you will get a

[2018-02-05 14:55] ramenhog commented on #66
#126 closes this ticket

[2018-02-05 14:55] #66 closed

[2018-02-06 14:21] ramenhog commented on #121
Will be fixed in #71

[2018-02-06 14:21] #121 closed

[2018-02-06 19:20] ramenhog commented on #126
<img width="1678" alt="screen shot 2018-02-06 at 1 53 53 pm" src="https://user-images.githubusercontent.com/4724065/35879313-dc03bb9a-0b48-11e8-9548-c47f7e916848.png">

[2018-02-06 19:33] dhimmel commented on #126
That looks great. In the next couple weeks, I can work on creating the visualization for the right side. I think a sketch of the machine learning model would be good. Perhaps something based on http://slides.com/dhimmel/launch#/1/4

What do you think about adding a paragraph break before "Use Cognoma to"? Perhaps get rid of the paragraph break after this sentence.

[2018-02-06 20:10] ramenhog commented on #126
Sure, you mean instead of the illustration?

Yeah, I can do that. That makes more sense 👍

[2018-02-06 20:25] dhimmel commented on #126
Ah did you make this illustration on the right? I thought perhaps it was a stock image.

I'm fine with keeping it, perhaps updating the parts to be a little less generic.

[2018-02-06 20:43] ramenhog commented on #126
Nah, it's a stock image with "cognoma green", but Deepa thought it could fit in nicely on the landing page and also liked the collaborative nature of the image. We can definitely update it in the future though.

[2018-02-06 21:55] ramenhog commented on #106
@dhimmel I'm not sure that query modification works, e.g. https://mygene.info/v3/query?q=TRAJ4&entrezonly=true&fields=type_of_gene,+symbol&size=100&species=human&suggest_from=symbol%5E2,alias&type_of_gene=protein-coding still returns an `other` type of gene. Unless I am mistaken?

[2018-02-07 15:23] ramenhog opened #130 "Add tabs to query param selector component"
When user selects genes to add to query, they should get removed from the table in the "Search Results" tab and get shown in the table in the "Added to Query" tab.

[2018-02-07 15:26] ramenhog opened #131 "Fix notifications"
Since notifications were using Bootstrap, most of them look visually broken at the moment.

The new notifications should probably not use angular growl, since it relies on Bootstrap and also doesn't seem to be maintained any longer.

[2018-02-07 15:27] ramenhog opened #132 "Update success email"
Currently, they're just plaintext.

![screen shot 2018-02-16 at 9 59 43 am](https://user-images.githubusercontent.com/4724065/36313663-2e066db6-1300-11e8-83e7-1f74ef0e427d.png)

[2018-02-07 19:40] ramenhog opened #133 "Create "enter your email for results" modal"
When user submits a proper query, an alert box pops up prompting them to enter an email currently, without much context.

A better (less sketchy?) workflow would be having a modal pop up that explains that the query is processing and they can wait for the Jupyter notebook link on this page without refreshing or they can enter an email to be notified once its completed. What do you think @dhimmel ?

[2018-02-08 01:07] dhimmel commented on #133
Agree! That would be much more user friendly

[2018-02-08 14:06] ramenhog commented on #62
@dhimmel is this something we still want? The workflow seems odd since the user doesn't know that you're storing their jobs/classifiers and the user isn't even prompted to enter their email until the end.

[2018-02-08 20:17] ramenhog commented on #127
This definitely seems fixed in the `master` branch. Closing.

[2018-02-08 20:17] #127 closed

[2018-02-08 20:36] ramenhog commented on #107
@dhimmel could you get me the GA code needed to plop this in here?

[2018-02-08 20:41] ramenhog commented on #117
The UI's changed a lot since this issue was created. Now, the UI will need the ability to clear all items and also make sure they reappear in the search results.

[2018-02-08 21:53] dhimmel commented on #107
Needs @cgreene to create a "new property" on Google Analytics for "Cognoma"

[2018-02-08 22:06] cgreene commented on #107
@ramenhog : UA-20583020-12

[2018-02-09 15:12] ramenhog opened #136 "Email marketing automation"
Alex's seems to be using Mailchimp for email automation and it'd be good to utilize that with Cognoma to be able to send out "your analysis is completed" email and such.

[2018-02-09 19:20] #124 closed

[2018-02-12 21:37] ramenhog commented on #109
@dhimmel our search input placeholder text for mutations says "search by name". Do we want that or would researchers rather search by symbol?

[2018-02-12 21:39] dhimmel commented on #109
Currently, I see "Search genes by name". I think you could shorten to "Search genes", since our search will look up both symbols and names.

[2018-02-12 21:54] ramenhog commented on #109
@dhimmel These are the results I'm getting with the simple query service mygene.info provides for "camk":
<img width="849" alt="screen shot 2018-02-12 at 4 45 03 pm" src="https://user-images.githubusercontent.com/4724065/36121592-b01f3268-1014-11e8-9752-7cd06ef37e9a.png">

Is that alright? It seems to return genes like DCLK2 that don't contain that sequence of letters since it technically searches

[2018-02-12 21:59] dhimmel commented on #109
That's because [DCLK2](https://www.genenames.org/cgi-bin/gene_symbol_report?hgnc_id=HGNC:19002) previously used the symbol DCAMKL2. So this is actually working as intended.

If we have problems, we could look into tweaking the mygene.info query. I know there are some things that can be tuned, but not a priority at this time.

[2018-02-12 22:00] ramenhog commented on #109
Cool beans. This make it a smaller PR then 🙌

[2018-02-13 16:28] ramenhog opened #142 "Double-check Pos/Neg Calculations"
Currently, it seems like when more genes are added to the query, the number of pos/negs associated with some diseases actually go _down_...which shouldn't happen.

[2018-02-13 16:30] ramenhog opened #143 "Style "Query Overview Control" components"
This component is currently visually broken. Must fix.

![screen shot 2018-02-13 at 11 30 01 am](https://user-images.githubusercontent.com/4724065/36161297-44e75816-10b1-11e8-8556-cc4baa88ef2f.png)

[2018-02-13 16:59] ramenhog commented on #142
This definitely seems like a backend issue. The frontend is passing back associated disease and the added query param genes as query string parameters to this endpoint:

`https://api.cognoma.org/samples`

Which seems to be returning the number of positives associated with the intersection of all the genes, not the _union_ which is what we actually want.

[2018-02-13 21:01] #142 closed

[2018-02-14 19:53] ramenhog commented on #136
@Miserlou had suggested it would be a good idea to build an email list via the emails collected on Cognoma. Is this something we'd be interested in doing @dhimmel @cgreene ?

[2018-02-14 20:31] cgreene commented on #136
Yea - if Alex's is maintaining Cognoma and there's a "don't contact me about other CCDL/alex's items" checkbox they can unselect, this seems totally reasonable to me.

[2018-02-14 20:33] ramenhog commented on #136
Do we know who has or how to get access to the Alex's Mailchimp account?

[2018-02-14 20:34] cgreene commented on #136
Hmm - @lemonadejay would know. Let me ping him.

[2018-02-14 20:49] lemonadejay commented on #136
Where would this go on Cognoma?  I think ernie could probably set up a button people to subscribe for Cognoma specific emails.

[2018-02-14 20:59] ramenhog commented on #136
When the user submits their query on Cognoma, an alert box pops up prompting them to enter their email so they can get the Jupyter notebook links via email when the analysis is done. Do we want to also collect their emails at that stage in the process?

[2018-02-14 21:02] ramenhog commented on #136
@lemonadejay Here's a GIF of the process:

![submit-query](https://user-images.githubusercontent.com/4724065/36227869-6c963e6e-11a0-11e8-8782-e15a6c2f1260.gif)

[2018-02-14 21:17] dvenprasad commented on #133
Potential Copy:
Your analysis is being processed.
Processing usually takes X to Y minutes/hours.
Enter your email and we will email you a Jupyter Notebook with the results

@dhimmel Do we have a rough estimate as to how long an analysis can take? It would be helpful to add that information. People will be more likely to be less annoyed at inputting their email.

[2018-02-14 21:33] dhimmel commented on #133
Anywhere from 3 minutes to hours (if server load is high, unlikely). Usually around 5-15 minutes.

[2018-02-16 15:00] ramenhog commented on #132
@dhimmel Did we also want to update the text in any way?

[2018-02-16 15:14] dhimmel commented on #132
Yeah. Something like:

***

Your Cognoma classifier is complete. The results are available as a Jupyter notebook. Please see [classifier_120.ipynb]().

This classifier predicts mutations in the following genes: XXX, XXX, XXX. Cancers of the following types were included: XX, XX, XX. In total, XX of XX cancers were mutated for at least one of the query genes.

***

I got rid of the download link be

[2018-02-16 22:05] #126 closed

[2018-02-16 22:06] #106 closed

[2018-02-16 22:06] #131 closed

[2018-02-19 16:53] #118 closed

[2018-02-19 17:02] #100 closed

[2018-02-19 17:19] #132 closed

[2018-02-19 20:37] #130 closed

[2018-02-19 20:38] #107 closed

[2018-02-19 20:41] #117 closed

[2018-02-19 20:42] #109 closed

[2018-02-20 13:36] ramenhog opened #147 "Clicking on a remove button on the non-active tab causes incorrect deletion"
When at least one param is added to both Genes and Diseases and the "Diseases" tab is currently active, when the user tries to delete the first param off the inactive "Genes" tab, it actually deletes the first Disease param before activating the "Genes" tab.

![tab-deleting-bug](https://user-images.githubusercontent.com/4724065/36426730-13e59e9a-1619-11e8-9055-85d394509f8f.gif)

[2018-02-20 13:37] ramenhog commented on #69
Components that need unit tests:

- cgTable
- queryParamSelector
- notifications

[2018-02-23 15:54] ramenhog opened #152 "Disable submit query button until all sample calcs are completed"
When a user clicks the "Submit Query" button before the disease sample calculations are completed, the "must have 20 pos/negs" error can be shown, despite the query fulfilling that requirement after the calculations are completed.

[2018-02-23 15:58] ramenhog opened #153 "Showing duplicate disease results"
If user selects diseases, switches back to the mutations tab, and then switches to the disease types tab, search results contain duplicates of the disease types already added to query.

Duplicates should be removed.

![screen shot 2018-02-23 at 10 56 49 am](https://user-images.githubusercontent.com/4724065/36603310-5a1d441e-1888-11e8-8cf9-12638d85de27.png)

[2018-02-26 15:22] dhimmel opened #158 "Cannot submit query: user is null or undefined"
Just got a "User is null or undefined" message when I tried to submit a query. Screenshot below:

![cognoma-null](https://user-images.githubusercontent.com/1117703/36678418-b4841f1a-1ade-11e8-9a16-9011ed1f3552.png)

Possibly related to https://github.com/cognoma/frontend/issues/133 or https://github.com/cognoma/frontend/issues/63. Also possibly a backend issue?

[2018-03-02 14:59] gwaygenomics opened #160 "Frontend Interface does not correctly take the union of multiple input query genes"
When selecting `KRAS`, `HRAS`, and `NRAS` from the gene query the disease-type query displays mutation counts for `NRAS` only. It should take the union of all query genes to display mutation count.

e.g.

| | KRAS | HRAS | NRAS | Display Count |
| :--: | :--: | :--: | :---: | :----: |
| sample A | 0 | 0 | 1 | 1 |
| sample B | 1 | 0 | 1 | 1 |
| sample C | 0 | 0 | 0 | 0 |

[2018-03-05 14:25] kurtwheeler commented on #71
@ramenhog I just came across this. It looks like this might be entirely done. Is that correct?

[2018-03-05 14:26] ramenhog commented on #71
@kurtwheeler Yup!

[2018-03-05 14:26] #71 closed

[2018-03-05 15:04] kurtwheeler commented on #160
@ramenhog was this the issue that had been fixed in a core-service PR which has since been deployed?

[2018-03-05 15:05] kurtwheeler commented on #158
This was a backend issue related to migrating AWS accounts. It's now resolved.

[2018-03-05 15:05] #158 closed

[2018-03-05 15:32] ramenhog commented on #160
Yes, it should've been. But I've been testing it on cognoma.org and it seems like it's still taking the intersection of all the query genes...

[2018-03-05 15:38] kurtwheeler commented on #160
Oh womp womp. Any idea what might be going wrong?

[2018-03-05 16:15] #111 closed

[2018-03-05 16:15] #143 closed

[2018-03-05 16:25] dhimmel opened #161 "Show positive and negative counts for each mutation"
It'd be useful to know how many samples were mutated (positives) and not mutated (negatives) for each gene selected by the user. It'd even be even slicker if you could see these counts in the search menu even before adding a gene (but that may be computationally infeasible). These values would add up to the total number of samples for all the selected diseases.

Is this feasible with the current a

[2018-03-05 16:28] dhimmel commented on #161
In the search table for genes, the positive and negative counts could replace the SCORE column. Even if we don't add positives/negatives, we should consider removing score. Score is the search ranking by mygene.info. It may be helpful for diagnosis but is likely to confuse users (it's not a score relevant to cancer or anything like that)

[2018-03-05 16:42] cgreene commented on #161
If we sort by SCORE, would that improve our ability to place the most relevant gene at the top of the list? I notice that we're not particularly good at that via the alphabetical ordering scheme.

[2018-03-05 16:45] dhimmel commented on #161
The table should definitely be sorted by SCORE descending (that is the point of score). However, the user doesn't need to see.

Also there's definitely a problem with the search configuration... For example, `BRCA` returns no results. Let's deal with that in a separate issue.

[2018-03-05 20:23] #133 closed

[2018-03-07 19:38] #136 closed

[2018-03-07 19:39] #69 closed

[2018-03-14 14:54] #153 closed

[2018-03-14 14:55] #152 closed

[2018-03-14 14:55] #147 closed

[2018-03-14 15:13] ramenhog commented on #160
@kurtwheeler and I talked about this in person some time ago and we think it might be helpful to have someone who knows the Cognoma backend better to take a peak at this issue. This is how I had attempted to solve it: https://github.com/cognoma/core-service/pull/90

[2018-03-14 15:14] ramenhog opened #162 "Mutation Searching Slowness"
Frontend seems to shows the `isSearching` indicator even after the results have been returned via the API.

[2018-03-14 15:20] ramenhog commented on #161
Showing pos and neg counts is definitely possible with the frontend architecture, but it doesn't seem like we have an endpoint for getting the positives count for each gene. If we can add that into the backend, it shouldn't be too tough to do via the frontend.

But I can definitely get rid of the SCORE column. But do we want the gene results sorted by SCORE initially until the user clicks on anoth

[2018-03-14 15:36] dhimmel commented on #161
I don't think the chart needs to be sortable beyond score. That'd kinda be like saying I want to sort Google Autocomplete alphabetically.

[2018-03-27 14:24] dcgoss opened #163 "Blurry Query Submit Modal (Safari)"
First of all, @ramenhog I want to congratulate you on a beautiful redesign of the Cognoma UI/UX — it really looks great and made me smile. When I left the Greene Lab last summer, cognoma/frontend was our weak spot — it's awesome to see the upgrades it needed finally being implemented.

Now for a small bug. When I went to submit a modal on Safari, the modal had this weird blurry look to it. I'm on

[2018-03-28 20:36] ramenhog commented on #163
Thanks @dcgoss !

Yeah, I think I know what this issue might be. There's something with CSS transforms (which is what is being used to vertically/horizontally align the modal) and blurry text for some reason: https://stackoverflow.com/questions/31109299/css-transform-translate-50-50-makes-texts-blurry

[2018-03-29 15:21] cgreene commented on #162
Was poking at #160 to see if I could figure that out, and I can confirm this on chrome. Results do not appear, though the API call has returned.

[2018-03-29 15:38] cgreene commented on #160
Looks like the query that is sent for the KRAS/NRAS pair is:
`"https://api.cognoma.org/samples?disease=BRCA&limit=1&mutations__gene=4893&mutations__gene=3845&offset=1"`

I'm imagining that's hitting https://github.com/cognoma/core-service/blob/master/api/views.py#L280.

Following that up to https://github.com/cognoma/core-service/blob/master/api/views.py#L275 seems to be responsible for the actual

[2018-03-29 15:51] cgreene commented on #160
I did a bit more digging.

I looked at Ovarian / Breast tumor counts. I queried in order for:
TP53 and will give (Ov/Br) numbers of positives ( 160/299)
added PIK3CA (3/316)
added KRAS (3/6)

If I query only for KRAS I get (3/6)
If I add a query for PIK3CA I get (3/316).

It appears to only be querying the last entry.  The API query for the final thing sent from the frontend is to `https://api.cog

[2018-03-30 20:03] cgreene commented on #160
Tracked this down while writing backend tests. The query being constructed at https://github.com/cognoma/frontend/blob/cc6ee4f25bb28c09d60e2af7eb5cfc35615c40b4/app/js/dataModels/DiseaseModel.js#L93 doesn't hit the new filter. To hit that filter, we need to use `any_mutations=g1,g2,g3`.

The `ListFilter` expects things to be comma separated values in the URL.

[2018-04-03 17:28] #160 closed

[2018-04-03 20:30] ramenhog opened #169 "mygene.info queries are not returning the expected results"
**Example 1:**
https://mygene.info/v3/query?q=type_of_gene:protein-coding%20AND%20BRCA&entrezonly=true&size=100&species=human&suggest_from=symbol%5E2,alias

Expected to return `BRCA2`

**Example 2:**
https://mygene.info/v3/query?q=type_of_gene:protein-coding%20AND%20TP53&entrezonly=true&size=100&species=human&suggest_from=symbol%5E2,alias

Expected: `TP53`

**Example 3:**
https://mygene.info/v3/qu

[2018-04-03 20:46] dhimmel commented on #169
For reference, the BRCA2 query returns:

[code]

The TP53 query returns TP53TG5 as the top result.

The KRAS query returns (note KRAS has lowest score):

[code]

@newgene, do you still work on mygene.info / have any advice? If not, who is the current contact? Thanks.

[2018-04-03 20:53] ramenhog opened #170 "Cannot submit more than 1 query in a row without refreshing"
If a user submits a query and then attempts to submit another query without refreshing the page, they get a warning:

`error message=User is null or undefined.`

[2018-04-03 21:35] #163 closed

[2018-04-03 21:36] #170 closed

[2018-04-03 21:51] ramenhog opened #172 "Add ToS and Privacy Policy"

[2018-04-04 03:11] newgene commented on #169
@dhimmel Yes, we are looking into this issue now.

[2018-04-04 05:28] andrewsu commented on #169
We will definitely look at fine tuning our scoring scheme.  In the mean time, a few suggestions.

Most simply, dropping the `type_of_gene:protein-coding` search parameter results in better tuned sorting:

https://mygene.info/v3/query?q=BRCA2&entrezonly=true&size=100&species=human&suggest_from=symbol%5E2,alias
https://mygene.info/v3/query?q=TP53&entrezonly=true&size=100&species=human&suggest_from=s

[2018-04-04 11:40] cgreene commented on #169
@andrewsu : is there a way to get a good results list for something like a search? For instance, if there's an exact match, we'd love that, but if there are no exact matches then it'd be nice to use the wildcard search.

Also, our system can only deal with protein-coding genes, so any results returned by mygene.info that aren't protein coding would result in something that we can add to the users

[2018-04-04 16:00] dhimmel commented on #169
Thanks @andrewsu for the details.

We do want a wildcard search with the following caveat: if there's an exact symbol match it should receive the highest score.

We would be able to filter for `type_of_gene:protein-coding` client-side, although it would obviously be simpler if we could specify this at the API level.

Here's the current spec we're using:

https://github.com/cognoma/frontend/blob/3d

[2018-04-04 16:10] andrewsu commented on #169
It's not entirely clear to me why, but if you change your `q` parameter from `type_of_gene:protein-coding AND BRCA` to `type_of_gene:protein-coding AND (BRCA* OR symbol:BRCA OR symbol:BRCA*)`, I think you get the desired behavior.  Seems to work if you have a full gene symbol specified, eg:

https://mygene.info/v3/query?q=type_of_gene:protein-coding%20AND%20(BRCA2*%20OR%20symbol:BRCA2*%20OR%20symb

[2018-04-04 16:13] cgreene commented on #169
Interesting! The results in those answers appear to be sufficient enough for our purposes at this time, I think, though `words-in-name` would be ideal. Can we count on this behavior being stable at this time? May wait to see what the pros say 😁

[2018-04-04 16:33] andrewsu commented on #169
I agree, we need to work on the default tuning.  See the ticket I just created above.  Yes, pros have been pinged (who can comment on stability of the query pattern above).

-- MyGene Helpdesk Technician

[2018-04-04 18:08] dhimmel commented on #169
@cyrus0824 thanks for that info! Should the second symbol match be `symbol:KRA*^2` for the wildcard?

Is it possible to put the `entrezonly=true` and `species=human` constraints on that query? If so, then I think all of our needs would be met.

[2018-04-04 18:09] cyrus0824 commented on #169
@dhimmel yes...it interpreted those two * as italics.... I updated the post above :)

[2018-04-04 18:11] cyrus0824 commented on #169
About the `entrezonly=true` and `species=human`, yes those will both work fine (as well as any other options)...

[2018-04-04 18:15] cyrus0824 commented on #169
There is also the related issue that @andrewsu opened on mygene.info.  The response I put there might be another option for you.  If you can't make the query string work as you want, you can quite easily define your own query on mygene. See https://github.com/biothings/mygene.info/issues/32 for more information if you're interested...

[2018-04-04 18:16] dhimmel commented on #169
How does matching multi-word fields work? Is each word it's own token or are spaces just like any other character. For example, let's use the gene name `KRAS proto-oncogene, GTPase`. Would a query of `proto-onco` match `query*` or only `*query*`?

[2018-04-04 18:50] cyrus0824 commented on #169
@dhimmel I believe for the "name" field, it is tokenized on whitespace, so it should match both query* and *query*.  Be careful with double escaping the "-" , I believe it's a reserved character.  You can find out more (including the reserved characters) here: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-string-syntax

[2018-04-04 20:31] #172 closed

[2018-04-09 17:57] dhimmel commented on #169
@ramenhog let's see if the following change to our query improves results:

[code]

where `SEARCH` is the user-supplied search term. Keeping `species`, `entrezonly`, and `size` as they are now.

[2018-04-09 18:26] ramenhog commented on #169
It's looking good 🎉 ! These are the results I get after using that updated query with the use cases I initially posted:

KRAS:
![screen shot 2018-04-09 at 2 23 24 pm](https://user-images.githubusercontent.com/4724065/38515286-c6e61bf6-3c01-11e8-9736-c6b4725b98da.png)

BRCA2:
![screen shot 2018-04-09 at 2 23 17 pm](https://user-images.githubusercontent.com/4724065/38515289-cb5579a2-3c01-11e8-981f-d

[2018-04-09 18:27] cgreene commented on #169
Woo! 🎉 This looks much better!

[2018-04-09 18:41] dhimmel commented on #169
Let's PR. We'll deal with remaining issues as they come up as this is already a huge improvement.

[2018-04-09 18:46] #169 closed

[2018-04-09 18:52] cyrus0824 commented on #169
Hi everyone, glad this is starting to look better.  A couple more things I wanted to suggest:

1) The weights I picked in the initial example were arbitrary, and could result in extreme overweighing of certain types of hits (this may or may not be what you're interested in).  In general we've had the best luck picking weights between 0.5 and 1.5, as it seems not to squash the inter-hit scoring dif

[2020-03-04 19:55] saschamander commented on #75
Upgrading node+npm worked for me. Thx